{% extends 'base.html' %}
{% load static %}

{% block title %}
Artikel
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'base_artikel.css' %}">

<div class="artikel"> 

    <h1> {{ artikel_detail.judul }} </h1>
    {{ artikel_detail.foto }}

    {{ artikel_detail.author }}
    {{ artikel_detail.isi }}
    
    <h2>Komentar</h2>
    
    {% for i in komentar %}
    <form action="" method="POST">

        {% csrf_token %}
    
        {{form}}
        
        <input type="submit" value="Submit">
    
    </form>
    

    {% endfor %}
    
{% endblock content %}