{% extends 'base.html' %}
{% load static %}

{% block title %}
Swab.In
{% endblock title %}
{% block content %}
<section>
    <div class="content">
        <div class="info">
            <h2>Welcome to <br> <span>Swab.in!</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas iste nisi dignissimos earum soluta id
                dolorem, nobis aliquid quisquam mollitia qui commodi consequatur doloribus sunt tenetur. Consequuntur
                corrupti nam odit.</p>
            <button class='btn1'>
                More Info
            </button>
        </div>
    </div>
</section>
{% endblock content %}

{% block js %}
<script src="{% static 'js/function.js' %}"></script>
{% endblock js %}