  body{
    background-color:rgba(234, 236, 237, 0.54);
    font-style: normal;

  }
  
  .container{
    justify-content: center;
    height: 750px;
    background: #F9FBFF;
    border-radius: 10px;
    margin-top: 40px;
  }
  
  .cards{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    width: 100%;
  }
  
  .card{
    width: 450px;
    height: 250px;
    margin: 25px;
    padding: 15px 15px;
    background-color:rgba(234, 236, 237, 0.54);
    border: None;
  }
  
  .crd-header{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
  }
  
  .cImage img{
    width: 100px;
    height: 100px;
    padding: 5px 0px;
  }
  
  .cDescription{
    font-weight: 200;
    font-size: 15px;
    margin-left: 5px;
    padding: 0px;
  }
  
  .cDescription h3 {
    font-weight: bold;
    font-size: 20px;
  }
  
  .cDescription h6 {
    font-weight: 200;
    font-size: 15px;
  }
  
  .card p {
    font-weight: 200;
    font-size: 15px;
  
    width: 450;
    height: 80px;
  }
  
  .crd-btn a:link, a:visited {
    background-color: #EAECED;
    color: black;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    float: right;
    padding: 8px 0px;
  
    width: 100px;
    height: 34px;
  
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
  }
  
  a:hover, a:active {
    background-color: #4F85EB;
    color: white;
  }