{% extends 'base.html' %}
{% load static %}

<html>
  <head>
    {% block css %} <link rel='stylesheet' href="{% static 'styles/vaksin_swab.css' %}"/> {% endblock css %}
    {% block title %} Swab & Vaksin {% endblock title %}    
  </head>
  <body>
    {% block content %}
    <div class='container'>
      <div class='contain-wrapper' id='info'>
        <div class='info-wrapper'>
          <div class='iImage'> <img src='' alt=''> </div>
          <div class='iDescription'>
            <div class='info-lengkap'>
              <h3>Vaksin</h3>
              <p><span>Produsen</span>:</p>
              <p><span>Tahun Produksi</span>:</p>
              <p><span>Frekuensi Suntik</span>:</p>
              <p><span>Efek Samping</span>:</p>
              <p>Description</p>
            </div>
          </div>
        </div>

        <div class='experience-wrapper'>
          <div class=experience-header>
            <h3 class='title-pengalaman'>Pengalaman</h3>
            <button type='button' class='btn btn-round btn-add' data-bs-toggle='modal' data-bs-target='#addModal'>+</button>
          </div>
          <div class='pop-up-form'>
            <div class='modal fade' id='addModal' tabindex='-1' aria-labelledby='addModalLabel' aria-hidden='true'>
              <div class='modal-dialog modal-dialog-centered'>
                <div class='modal-content border-0'>
                  <div class='modal-header border-0'>
                    <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                  </div>

                  <div class='modal-body'>
                    <div class='profil'>
                      <div class='pImage'><img  src='' alt=''></div>
                      <div class='pInformation'>
                        <h3>Manusia</h3>
                        <h6>Pekerjaan, umur</h6>
                      </div>
                    </div>
                    <div class='form'> 
                      <form method='POST' action='' id='addPengalamanForm'>
                        {% csrf_token %}
                        {% for field in form%}
                        <div class='row mb-3 mx-4'>
                          {{form.pengalaman}}
                          
                        </div>
                        {% endfor %}
                        <p id='inputForumId' class='visually-hidden'></p>
                      </form>
                    </div>

                    <input type='submit' form='addPengalamanForm' class='btn submit-button fw-bold' value='Submit' data-bs-dismiss='modal' />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class='contain-wrapper'>
            <div class='cards'>
              {% for experience in experiences%}
              <div class='card'>
                <div class='crd-header'>
                  <div class='pImage'><img  src='' alt=''></div>
                  <div class='pInformation' id='desc'>
                    <h6>Manusia</h6>
                    <p>Pekerjaan, umur</p>
                  </div>
                </div>
                <div class='crd-description'>
                  <p>{{ experience.pengalaman }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>