{% extends 'base.html' %}
{% load static %}

<html>
  <head>
    {% block css %} <link rel="stylesheet" href="{% static 'styles/vaksin_swab.css' %}" /> {% endblock css %}
    {% block title %} Swab & Vaksin {% endblock title %}    
  </head>
  <body>
    {% block content %}
      <div class='container'>
        <div class='btn-wrapper'>
          <button class='swab-btn'>Swab</button>
          <button class='vaksin-btn'>Vaksin</button>
        </div>
        
        <div class='contain-wrapper'>
          <div class='swab-cards'>
            <div class='cards'>
              {% for swabInformation in swabInformations%}
              <div class='card'>
                <div class='crd-header'>
                  <div class='cImage'><img  src='{{ swabInformation.gambar.url }}' alt=""></div>
                  <div class='cInformation' id='desc'>
                    <h3>{{ swabInformation.nama }}</h3>
                    <h6>Price: {{ swabInformation.price }}</h6>
                    <h6>Akurasi: {{ swabInformation.akurasi }}</h6>
                    <h6>Prosedur: {{ swabInformation.prosedur }}</h6>
                  </div>
                </div>
                <div class='crd-description'>
                  <p>{{ swabInformation.deskripsi }}</p>
                </div>
                <div class='crd-btn'>
                  <a href="{% url 'informasi-swab' swabInformation.pk %}">Read More</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class='vaksin-cards' style='display: none;'>
            <div class='cards'>
              {% for vaksinInformation in vaksinInformations%}
              <div class='card'>
                <div class='crd-header'>
                  <div class='cImage'><img  src='{{ vaksinInformation.gambar.url }}' alt=""></div>
                  <div class='cInformation' id='desc'>
                    <h3>{{ vaksinInformation.nama }}</h3>
                    <h6>Produsen: {{ vaksinInformation.produsen }}</h6>
                    <h6>Frekuensi Suntik: {{ vaksinInformation.frekuensi }}</h6>
                    <h6>Efikasi: {{ vaksinInformation.efikasi }}</h6>
                  </div>
                </div>
                <div class='crd-description'>
                  <p>{{ vaksinInformation.deskripsi }}</p>
                </div>
                <div class='crd-btn'>
                  <a href="{% url 'informasi-vaksin' vaksinInformation.pk %}">Read More</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endblock content %}
    {% block js %} <script src="{% static 'js/swab_vaksin.js' %}"></script> {% endblock js %}
  </body>
</html>