{% load static %}

<nav>
    <div class="d-flex flex-col justify-content-between align-items-center">
        <div class="d-flex flex-col align-items-center">
            <img src="{% static 'images/logo.svg' %}" alt="logo swabIn">
            <h3>Swab.In</h3>
        </div>
        <div class="d-flex flex-col align-items-center">
            <div class="opt">
                <div onClick="redirects('swab-vaksin')"> Swab & Vaksin </div>
            </div>

            <div class="opt">
                <div onClick="redirects('about')"> About </div>
            </div>
            <div class="opt">
                <div onClick="redirects('lokasi')"> Lokasi </div>
            </div>
            <div class="opt">
                <a href="../artikel">Artikel</a>
            </div>
            {% if not user.is_authenticated %}
            <div class="login-btn">
                <div onClick="redirects('login')"> LOGIN </div>
            </div>
            {% else %}
            <div class="login-btn">
                <div onClick="redirects('logout')"> LOG OUT</div>
            </div>
            {% endif %}

        </div>
    </div>
    <script>
        function redirects(params) {
            console.log(window.location.host)
            switch (params) {
                case "about":
                    window.location = `http://${window.location.host}/about`
                    break;
                case "lokasi":
                    window.location = `http://${window.location.host}/lokasi`
                    break;
                case "logout":
                    window.location = `http://${window.location.host}/logout`
                    break;
                case "login":
                    window.location = `http://${window.location.host}/login`
                    break;
                case "swab-vaksin":
                    window.location = `http://${window.location.host}/swab-vaksin`
                    break;
            }
        }
    </script>

</nav>

{% block js %}

{% endblock js %}