.parent-container {
  background-color: #eaeced;
  padding-left: 1rem;
  padding-right: 1rem;
}

.forum-diskusi {
  text-align: center;
}

.header-content {
  background-color: white;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 20.25rem;
  height: 10rem;
  margin-right: 1.5rem;
}

.main-container {
  background-color: red;
  width: 100%;
  display: flex;
}

.title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-box > h3 {
  font-weight: bold;
  margin-bottom: 0.2rem;
  padding-top: 0.2rem;
}
.title-box > p,
h6 {
  margin: 0;
}

.title-box > h6 {
  font-size: 80%;
}

/* @media (min-width: 640px) {
    .header-content {
        background-color: white;
        width: 100%;
        max-width: 1200px;
        display: flex;
      }
} */
